extends layout

block content

  body
    .row
      .media
       img#bookspic.media-object(src='http://cdn.mhpbooks.com/uploads/2015/06/books.jpg', alt='...')
       img#typepic.media-object(src='http://static1.squarespace.com/static/51c34476e4b07ad9484dacf6/t/51cb0a78e4b0ff1650b494eb/1434017279506/iStock_000015967436_Large.jpg', alt='...')
    #sections.row
      .col-md-6
        a(href="../books" role="button") Books
      .col-md-6
        a(href="../authors" role="button") Authors
