.logo{
  height: 50px;
  width: auto;
  border-radius: 10px;
  padding-bottom: 0px;
}

#nav{
  height:80px;
}

#G{
  padding-top:10px;
  padding-left:10px;
  color: white;

}

#bookspic{
  width: 632px;
  height:auto;
  float: left;
  border: solid 2px black;
  margin:6px;
  padding-left:2px;
}

#typepic{
  width: 632px;
  height:auto;
  float: left;
  border: solid 2px black;
  margin:6px;
  height:457px;

}
#sections{
  color:#F8901F;
  text-align: center;
  font-weight: bolder;
  font-size: 34px;

}

.bookslink {
  background-color: #303030;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.authorslink {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.bookImageUrl {
  width:360px;
}

.portraitImageUrl {
  height: 172px;
  width: 154px;
  border-radius: 10px;
}
 .link{

    font-weight: bold;
    font-size: 20px;
}

.buttons{
  color: white;
  border-radius: 50px;
  padding: 6px;
  margin: 2px;
}
