block content
  div.row-fluid
    div.col-md-2.col-sm-2.col-xs-2
      a.authorslink(href="../../authors")
        div.thumbnail.sidebarThumbnail
          div.imageDiv
          img.img-responsive(src="http://www.autoreseditores.com/blog/wp-content/uploads/2012/12/Fotolia_36560558_XS.jpg" alt="typewriter")
          div.verticalTextDiv
            p.verticalText Authors
      a.bookslink(href="../../books")
        div.thumbnail.sidebarThumbnail
          img.img-responsive(id="sidebook" src="http://nancypearl.com/wp-content/uploads/2012/12/book-stack.gif" alt="book")
          div.verticalTextDiv
            p.verticalText Books
